{
  "presets": ["@nrwl/react/babel"],
  "plugins": [["styled-components", { "pure": true, "ssr": true }],[
    "formatjs",
    {
      "idInterpolationPattern": "[sha512:contenthash:base64:6]",
      "ast": true
    }
  ]]
}
